body {
  background-color: #ffe6e6; /* světle růžová */
  background-image: radial-gradient(white 1px, transparent 1px); /* bílé tečky */
  background-size: 20px 20px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.homepage {
  text-align: center;
  padding: 20px;
}

.homepage-title {
  font-family: 'Dancing Script', cursive; /* francouzské písmo s kudrlinkami */
  font-size: 36px;
  margin-bottom: 40px;
}

.products {
  display: flex;
  justify-content: center; /* středí produkty horizontálně */
  flex-wrap: wrap;
  gap: 10px; /* mezery mezi produkty */
}

.product {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 25px; /* zvětšení o 1 cm */
  width: 210px; /* zvětšení o 1 cm */
  margin: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* tlačítko bude na spodku */
}

.product-title {
  font-size: 18px;
  margin-bottom: 10px;
  flex: 1; /* všechny atributy budou ve stejné výšce */
}

.product-image {
  max-width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-price {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  flex: 1; /* všechny atributy budou ve stejné výšce */
}

.order-button {
  background-color: #ff0066; /* sytě růžová */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.order-button:hover {
  background-color: #cc0052; /* tmavší růžová při najetí */
}